@model List<Dictionary<string, object>>



@foreach(var user in Model)
{
    DateTime date = Convert.ToDateTime(user["created_at"]);
    <tr>
        <td>@user["name"]</td>
        <td>@user["quote"]</td>
        <td>@date.ToString("D")</td>
    </tr>



}